___
# Ciência dos Dados - PROJETO 1

## Gabriel Duarte & Omar Afrange
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Filtros da base de dados

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Duarte\Downloads\INSPER aqui tbm\DADOS DP\Projeto 1

In [77]:
#Se usar o arquivo descompactado
#pd.read_csv('PES2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('PES2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

dados_2011 = pd.read_csv("PES2011.csv")
tradu_2011 = pd.read_excel("Dicionário de variáveis de pessoas - PNAD 2011.xls")

dados_2015 = pd.read_csv("PES2015.csv")
tradu_2015 = pd.read_excel("Dicionário de variáveis de pessoas - PNAD 2015.xls")

In [78]:
dados_2011.head()

,V0101,UF,V0102,V0103,V0301,V0302,V3031,V3032,V3033,V8005,...,V4741,V4742,V4743,V4745,V4746,V4747,V4748,V4749,V4750,V9993
0,2011,11,11000000.0,1,1,2,25,12,1961,49,...,4.0,1.000000e+12,99.0,2,1.0,2.0,2.0,1.0,1.000000e+12,20100000.0
1,2011,11,11000000.0,1,2,4,1,4,1978,33,...,4.0,1.000000e+12,99.0,6,2.0,NaN,NaN,2.0,1.000000e+12,20100000.0
2,2011,11,11000000.0,1,3,4,15,6,1996,15,...,4.0,1.000000e+12,99.0,3,2.0,NaN,NaN,2.0,1.000000e+12,20100000.0
3,2011,11,11000000.0,1,4,2,3,12,2001,9,...,4.0,1.000000e+12,99.0,2,2.0,NaN,NaN,2.0,1.000000e+12,20100000.0
4,2011,11,11000000.0,2,1,4,16,10,1959,51,...,4.0,1.461000e+03,5.0,4,1.0,2.0,2.0,1.0,1.461000e+03,20100000.0

In [93]:
# Curso mais elevado que frequentou anteriormente ( V6007)

lista_curso = ["Elementar","Médio 1º ciclo" ,"Médio 2º ciclo","Regular do ensino fundamental","Regular do ensino médio","supletivo do ensino fundamental ou do 1º grau","supletivo de ensino médio ou do 2º grau","Superior - graduação","Mestrado ou doutorado","Alfabetização de jovens e adultos","Creche","Classe de alfabetização - CA" ,"Maternal ou jardim de infância"]
for i in np.arange(13):
    dados_2011.loc[(dados_2011.V6007 == i), "V6007"] = lista_curso[i]
curso = dados_2011.V6007

In [96]:
curso.head()

0                                   Médio 1º ciclo
1                                              NaN
2                                              NaN
3                                              NaN
4    supletivo do ensino fundamental ou do 1º grau
Name: V6007, dtype: object

In [95]:
curso.DataFrame()

AttributeError: 'Series' object has no attribute 'DataFrame'

In [ ]:
juncao = curso.join(, how="inner",lsuffix=" energia",rsuffix=' estrada' )

In [ ]:
___
## Análise e Resultados

___
## Conclusão

Descreva aqui suas conclusões!